@import "./reset.css";
@import "./variables.css";
@import "../css/vh.css";
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

/* Screens */
@import "./screens/index.css";
@import "./screens/content.css";

/* components */
@import "./components/modalLayer.css";
@import "./components/loginModal.css";
@import "./components/indexHeader.css";
@import "./components/contentHeader.css";
@import "./components/profileSlide.css";
@import "./components/rankSlide.css";
@import "./components/fullPageTwo.css";

body {
  background-color: #a69f92;
  font-family: "Bungee", "Noto Sans KR", sans-serif;
}
a {
  color: black;
  text-decoration: none;
}
button {
  all: unset;
}
.container {
  height: 100vh;
}
