.modal {
  display: none; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
  backdrop-filter: blur(10px);
}

/* Modal Content */
.modal-content {
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #d9d0c1;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #403b35;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
